<% title "Contributor Guidelines", false %>

<div class="container">
  <h2>Authoring Guidelines</h2>
  <div class="span2">
    <div><%= image_tag "/assets/nerd.jpg", :size => "80x80" %></div>
  </div>
  <div class="span10">
  <p>Thank you for your interest in becoming a contributor. Instructions are forthcoming.</p>
  </div>
</div>
